/* header */
.bottomHeaderMenue{
    filter: blur(0);
    transform: translateX(0);
}
.bottomHeaderMenue li{
    padding: 5px 10px;
    position: relative;
}
.bottomHeaderMenue li::after {
    content: '';
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px; 
    background: #000;
    z-index: 3;
    opacity: 1;
    transition: transform .372s;
}
.bottomHeaderMenue li:hover::after {
    transform: scaleX(0.9);
}
/* authentification */
.lienAuthentification:hover{
    animation: fondAuth 2s forwards;
}
@keyframes fondAuth {
    from{
        background-color: #ff8b2d;
    }
    to{
        background-color: white;
    }
}
.lienAuthentification#blue:hover{
    animation: fondAuthOrange 2s forwards;
}
@keyframes fondAuthOrange {
    from{
        background-color: #165999;
    }
    to{
        background-color: white;
    }
}
.lienAuthentification a:hover{
    animation: authBTN 2s forwards;
}
@keyframes authBTN {
    from{
        color: white;
    }
    to{
        color: black;
    }
}
/* calendrier */
.collectionCalendrier{
    cursor: pointer;
}
.collectionCalendrier:hover{
    animation: bouton1 2s forwards;
}
.collectionCalendrier p:hover{
    animation: bouton1p 2s forwards;
}
@keyframes bouton1 {
    from{
        background-color: red;
    }
    to{
        background-color: white;
    }
}
@keyframes bouton1p {
    from{
        color: white;
    }
    to{
        color: red;
    }
}

/* temoignage */
/* bouton */
.collectionTemoignage{
    cursor: pointer;
}
.collectionTemoignage:hover{
    animation: bouton2 2s forwards;
}
.collectionTemoignage p:hover{
    animation: bouton2p 2s forwards;
}
@keyframes bouton2 {
    from{
        background-color: white;
    }
    to{
        background-color: red;
    }
}
@keyframes bouton2p {
    from{
        color: red;
    }
    to{
        color: white;
    }
}